@import "oddaj_squares";

.wrapper--oddajHeader {
  background-color: $color-grey-normal;
  padding-top: $space-large * 2;
}

.oddajHeader__imgSmall, .oddajHeader__imgLarge{
  display: none;
}

.oddajHeader__rightContainer {
  display: flex;
  flex-direction: column;
}

.oddajHeader__titleH2 {
  text-align: left;
}

.oddajHeader__p {
  font-weight: $semiBold;
  padding: $space-large 0 3em 0;

  &:first-letter {
    text-transform: uppercase;
  }
}

@include media {

  .wrapper--oddajHeader {
    display: flex;
    background-color: white;
    padding: 0;
  }

  .oddajHeader__imgSmall {
    display: block;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  .oddajHeader__imgLarge{
    display: none;
  }

  .oddajHeader__rightContainer {
    margin: 3rem 0;
    width: 50%;
    padding: 0 2em;
    box-shadow: -40px -40px 50px 20px rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .oddajHeader__titleH2 {
    text-align: center;
  }

  .oddajHeader__p {
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@include media__bigSize {
  .oddajHeader__imgLarge {
    display: block;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  .oddajHeader__imgSmall{
    display: none;
  }
}