$font-family-Open-Sans: 'Open Sans', sans-serif;
$font-family-Merriweather: 'Merriweather', serif;

$font-size-large: clamp(1.2rem, 3vw, 1.3rem);
$font-size-middle: clamp(0.8rem, 2vw, 1.1rem);
$font-size-small: clamp(0.7rem, 2vw, 0.9rem);
$font-size-superSmall: clamp(0.5em, 1.5vw, 0.7em);

$space-small: 0.5rem;
$space-large: 1rem;

$light: 300;
$regular: 400;
$semiBold: 600;

$color-opacity: rgba(0,0,0,0);
$color-white: #ffffff;
$color-black: #040404;
$color-green_dark: #5E5322;
$color-yellow: #FAD648;
$color-grey-normal: #3C3C3C26;
$color-grey-dark: #3C3C3C;
